$cr: Circe-Regular;
$cb: Circe-ExtraBold;
$cbl: Circe-Bold;
$cl: Circe-Light;
$brand: rgb(0, 0, 0);
$link: blue;
$black_t: rgb(0, 0, 0, 0.7);
$black_T: rgb(0, 0, 0, 0.2);
$active: rgba(70, 129, 255, 0.5);
